<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>S3 File Downloader</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Select S3 Bucket</h1>
        <ul class="list-group">
            {% for bucket in buckets %}
            <li class="list-group-item">
                <a href="{{ url_for('list_prefixes', bucket_name=bucket.Name) }}">{{ bucket.Name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
